.venv/
venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/
**/.venv/
**/venv/
**/env/
**/__pycache__/
**/*.pyc
**/*.pyd
**/.ipynb_checkpoints/
**/node_modules/
**/.DS_Store
**/*.egg-info/
**/.streamlit/secrets.toml
.pytest_cache/
